@model ProntoMVC.Areas.MvcMembership.Models.UserAdministration.CreateUserViewModel
@{
    ViewBag.Title = "Nuevo Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />
@*    <script type="text/javascript" src="jquery.editable-select.pack.js"></script>*@
    @*    <ul class="breadcrumb">
        <li><a href="#">Inicio</a> <span class="divider">/</span></li>
        <li><a href="/Pronto2/MvcMembership/UserAdministration">Usuarios</a> <span class="divider">
            /</span></li>
        <li class="active">Nuevo usuario</li>
    </ul>*@
    <br />
    <div class="span8" style='font-size: 34px; margin-top: 5px; height: 45px; font-weight: 500;
        text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
        Nuevo Usuario Interno</div>
    <br />
    @*<legend>Nuevo Usuario</legend>*@
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid", @autocomplete = "off" }))
    { 
        



        
        <div class="row-fluid">
            @*http://stackoverflow.com/questions/15738259/disabling-chrome-autofill?lq=1*@
            <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
            <input style="display: none" type="text" name="fakeusernameremembered" />
            <input style="display: none" type="password" name="fakepasswordremembered" />
            <div class="span4">
                @* http://stackoverflow.com/questions/9212621/modelstate-errors-not-showing-in-view?rq=1*@
                @* @Html.ValidationSummary(true)   *@ @Html.ValidationSummary(false)
                @*
                    <fieldset>
                        @Html.EditorForModel()
                    </fieldset> *@
                @Html.LabelFor(model => model.Username, "Usuario")
                @Html.TextBoxFor(m => m.Username, new { @autocomplete = "off" })<br />
                @Html.LabelFor(model => model.Password, "Contraseña")
                @Html.PasswordFor(m => m.Password, new { @autocomplete = "off" })<br />
                @Html.LabelFor(model => model.ConfirmPassword, "Confirmar contraseña")
                @Html.PasswordFor(m => m.ConfirmPassword)<br />
                @Html.LabelFor(model => model.Email, "Correo eléctronico")
                @Html.TextBoxFor(m => m.Email)<br />
                @Html.LabelFor(model => model.PasswordQuestion, "Pregunta secreta")
                @Html.TextBoxFor(m => m.PasswordQuestion)<br />
                @Html.LabelFor(model => model.PasswordAnswer, "Respuesta secreta")
                @Html.TextBoxFor(m => m.PasswordAnswer)<br />
            </div>
            <div class="span3">
                <div>
                    @if (Model.InitialRoles.Count > 0)
                    {
                            
                            
                        <fieldset>
                            @Html.Label("Roles")
                            @for (var i = 0; i < Model.InitialRoles.Count; i++)
                            {
                                var role = Model.InitialRoles.ElementAt(i);
                                if (Roles.IsUserInRole(ViewBag.NombreUsuario, "SuperAdmin") ||
                                    Roles.IsUserInRole(ViewBag.NombreUsuario, "Administrador") && Roles.IsUserInRole(ViewBag.NombreUsuario, role.Key))
                                {
                                     
                                <div>
                                    <input name="InitialRoles[@i].Key" type="hidden" value="@role.Key" />
                                    @Html.CheckBox("InitialRoles[" + i + "].Value", role.Value) @role.Key
                                </div>
                                }
                            }
                        </fieldset>
                    }
                </div>
                <br />
                <br />
                <br />
            </div>
            <div class="span3">
                <br />
                @Html.Label("Base default")
                @Html.DropDownList("EmpresaDefault", null, new { @class = "span12" })
                @{
                    string[] listItems = { "1", "2" };
                    SelectList selectList = new SelectList(listItems);
@*@Html.DropDownList("EmpresaDefault", (IEnumerable<SelectListItem>)ViewData["Bases"]) *@
                }
                @*@Html.DropDownListFor(x => x.EmpresaDefault, (IEnumerable<SelectListItem>)ViewData["Bases"], new { @style = "width: 260px", @class = "" })*@
                <br />
                @if (Roles.IsUserInRole(ViewBag.NombreUsuario, "Administrador") || Roles.IsUserInRole(ViewBag.NombreUsuario, "SuperAdmin"))
                {
                     
                    <div class="row-fluid">
                        @Html.Label("Empleados en esa base sin usuario web")

                        @try
                        {
                            Html.DropDownList("Empleados", null, new { @class = "span12" });
                        }
                        catch (Exception)
                        {
                            //throw;
                        }
                        


                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            @Html.Label("Crear nueva base a partir de Default") @*@Html.TextBoxFor(x => x.EmpresaNueva)*@
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            @Html.TextBox("EmpresaNueva", null, new { @class = "span12" })
                            @* <input type="button" value="Crearle base" class="btn" />*@
                        </div>
                    </div>
                  
                    <br />
                }
                <br />
                <br />
                <br />
                <script type="text/javascript">
                    $('#SubmitName').click(function () {
                        //var first = $('#Bases').val();
                        var first = $("#Bases option:selected").text();
                        var path = '@Url.Content("~/Account/BaseElegida")' + "?sBase=" + first
                        $(this).attr("href", path);
                    });

                    $('#EmpresaDefault').change(function () {
                        refrescarEmpleados();
                    });

                    $('#Empleados').change(function () {
                        $('#Username').val($("#Empleados option:selected").text());
                    });

                    function refrescarEmpleados() {

                        //    $('#Empleados').editableSelect({...});

                        // usar un control como el ComboBox del AjaxToolkit (que es como el combo de VB6)?
                        // - Ajax toolkit doesn't work with MVC because it was built for WebForms. So You have to use alternates for that purpose like "JQUERY".
                        $('#Empleados').empty()
                        $.getJSON('@Url.Action("EmpleadosPorBase")' + "?sBase=" + $('#EmpresaDefault').val(),
                             function (result) {
                                 var options = $("#Empleados");
                                 $.each(result, function () {
                                     options.append($("<option />").val(this.IdEmpleado).text(this.Nombre));
                                 });
                             });
                    }


                    $(function () {
                        refrescarEmpleados();
                        pageLayout.hide('east');
                    })
                    //                        $(document).ready(function () {

                    //                            if ($.browser.webkit) {
                    //                                $('input[name="password"]').attr('autocomplete', 'off');
                    //                            }


                    //                            // http: //stackoverflow.com/questions/2920306/google-chrome-form-autofill-and-its-yellow-background
                    //                            if (navigator.userAgent.toLowerCase().indexOf("chrome") >= 0) {
                    //                                $(window).load(function () {
                    //                                    $('input:-webkit-autofill').each(function () {
                    //                                        var text = $(this).val();
                    //                                        var name = $(this).attr('name');
                    //                                        $(this).after(this.outerHTML).remove();
                    //                                        $('input[name=' + name + ']').val(text);
                    //                                    });
                    //                                });
                    //                            }
                    //                        })
                </script>
            </div>
        </div>
        <br />
        <br />
        <div class="row-fluid">
            <button style="margin-left: 50px" type="submit" value="Aceptar" class="btn btn-primary btn-large">
                Aceptar
            </button>
            <a style="margin-left:60px"  href="@Url.Content("~")MvcMembership/UserAdministration">
                Volver</a>
        </div>
    }
</div>
