@model ProntoMVC.Data.Models.ValesSalida
@{
    ViewBag.Title = "Vale Salida " + ((Model.IdValeSalida == -1) ? "Nuevo" : Model.NumeroValeSalida.NullSafeToString()); ;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid", style = "margin-bottom: 2px;" }))
{
    @Html.ValidationSummary(true)

    <script src="@Url.Content("~/Scripts/ScriptValeSalida.js")" type="text/javascript"></script>       @*aparentemente tengo que llamarla despues de cargar las div*@

    <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <style>
            /* probando cómo zafar del color en los border del arbol de la izquierda */
            .ui-jqgrid tr.ui-row-ltr td {
                border-color: rgb(234, 234, 234) /* rgba(213, 175, 175, 0); */;
            }
        </style>
        <style>
            .container-fluid {
                /*    margin-right: 15px; */
                padding-left: 0; /* padding-right: 0px ; */
            }

            form {
                margin: 0 0 2px;
            }
        </style>
        <style>
            .ui-jqgrid tr.footrow-ltr td {
                border-right-color: transparent !important;
                border: 0 transparent !important;
            }
        </style>
        <style>
            .accordion-heading {
            }
            .accordion-caret .accordion-toggle:hover {
                text-decoration: none;
            }
            .accordion-caret .accordion-toggle:hover span, .accordion-caret .accordion-toggle:hover strong {
                text-decoration: underline;
            }
            .accordion-caret .accordion-toggle:before {
                font-size: 20px;
                vertical-align: -3px;
            }
            .accordion-caret .accordion-toggle:not(.collapsed):before {
                content: "▾";
                margin-right: 0px;
            }
            .accordion-caret .accordion-toggle.collapsed:before {
                content: "▸";
                margin-right: 0px;
            }
        </style>
        <style>
            /*  http://stackoverflow.com/questions/13103544/how-to-restrict-jqgrid-textarea-height-in-grid-only */
            tr.jqgrow > td.textInDiv > div {
                max-height: 30px;
                height: 30px;
                overflow: auto;
            }
            td.form-view-data > span > div {
                max-height: 30px;
                height: 30px;
                overflow: auto;
            }
        </style>
        <form class="form-horizontal" style=" margin-bottom: 0px;">
            <div id="cuerpomaspie" class="" style="padding-bottom:2px; position: relative; height: 100%  " @*Height of the footer *@>
                <div id="conscroll" style="height: 600px; margin-bottom: 40px; overflow-y: scroll; top: 50px; padding-left: 25px; padding-right: 25px; overflow-x: hidden;">
                    <div class="row-fluid" style="margin-bottom: 15px; margin-top: 5px;">
                        <div class="span6">
                            <div class="" style='font-size: 34px; margin-top: 5px; height: 45px; font-weight: 400;
                            text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
                                <span class="span1" style="padding-top: 15px; width: 240px">Vale Salida </span>
                                @Html.TextBoxFor(model => model.NumeroValeSalida, new { style = "height: 50px ;  font-weight: 400; text-shadow: 0 1px 0  lightgray; font-size: 34px; border: 0; padding: 0 ; text-align: right; background: transparent;  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Lucida', Tahoma, Arial,'sans-serif';                    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;                   ", @class = "span3", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="span6">
                            @*  <input type="button" id="grabar2" value="Aceptar" style="margin-top: 15px;" class="btn  btn-large btn-primary pull-right" />*@
                        </div>
                        <script>
                            $(function () {
                                function resizeInput() {
                                    // $(this).attr('size', $(this).val().length + 2);
                                    $(this).css('width', $(this).val().length * 32);
                                }
                                $('#NumeroValeSalida').css('width', $('#NumeroValeSalida').val().length * 21);
                            })
                        </script>
                    </div>

                    <div>@Html.Hidden("IdValeSalida", Model.IdValeSalida)</div>
                    <div>@Html.Hidden("Cumplido", Model.Cumplido)</div>
                    <div>@Html.Hidden("FechaAnulacion", Model.FechaAnulacion)</div>
                    <div>@Html.Hidden("IdUsuarioAnulo", Model.IdUsuarioAnulo)</div>
                    <div>@Html.Hidden("MotivoAnulacion", Model.MotivoAnulacion)</div>
                    <div>@Html.Hidden("NumeroValeSalida", Model.NumeroValeSalida)</div>

                    <div class="row-fluid">
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.FechaValeSalida, "Fecha")
                            @Html.TextBoxFor(model => model.FechaValeSalida, new Dictionary<string, object> { { "class", "span12" }, { "placeholder", "dd/mm/yyyy" } })
                            @Html.ValidationMessageFor(model => model.FechaValeSalida)
                            <script>
                                $("#FechaValeSalida").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                    //numberOfMonths: 2,
                                });
                            </script>
                        </div>
                        <!--/span-->
                        <div class="span6 lightblue">
                            @Html.LabelFor(model => model.IdObra, "Obra")
                            @Html.DropDownList("IdObra", null, "", new { @class = "span12", @style = "height: 15px;   line-height: 14px;" })
                            @Html.ValidationMessageFor(model => model.IdObra)
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row-fluid">
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row-fluid">
                        <div class="span3 lightblue">
                            @Html.LabelFor(model => model.Aprobo, "Aprobó")
                            @Html.DropDownList("Aprobo", null, "", new { @class = "span12" })
                            @Html.ValidationMessageFor(model => model.Aprobo)
                        </div>
                        <!--/span-->
                        <div class="span2 lightblue">
                            @Html.Label("Autorizaciones")
                            <form>
                                @{
                                    <input type="checkbox" id="chk0" readonly="readonly" disabled="disabled" class="GridCheckBox" title="" />
                                    int ca = 0; // ViewBag.CantidadAutorizaciones;
                                    int j = 1;
                                    for (var i = 1; i <= ca; i++)
                                    { <input type="checkbox" id="chk@(i)" readonly="readonly" disabled="disabled" class="GridCheckBox" title="" /> }
                                }
                            </form>
                        </div>

                        <div class="span2 lightblue">
                            @Html.LabelFor(model => model.Aprobo, ". ")
                            @if (Model.Aprobo != null)
                            {
                                <input type="button" id="AnularFirmas" value="@(ViewBag.CantidadAutorizaciones > 1 ? "Anular firmas" : "Anular liberación" )  " class="btn btn-link" />
                            }
                            <script>
                                $(function () {
                                    $('#AnularFirmas').click(function () {
                                        var IdAprobo = $("#Aprobo > option:selected").attr("value");
                                        var Aprobo = $("#Aprobo > option:selected").html();
                                        $("#Aux1").val(IdAprobo);
                                        $("#Aux2").val(Aprobo);
                                        $("#Aux3").val("");
                                        $("#Aux10").val("");

                                        $("#dialog-password").dialog({
                                            buttons: {
                                                'Aceptar': function () {
                                                    validatePwd2(anularfirma, function () { });
                                                    $(this).dialog('close');
                                                },
                                                'Cancelar': function () {
                                                    $(this).dialog('close');
                                                }
                                            },
                                            open: function () {

                                            }
                                        });

                                        $('#dialog-password').data('Combo', 'Aprobo');
                                        $('#dialog-password').dialog('open');

                                        $('#mySelect').focus(); // esto es clave, para que no me cierre el cuadro de dialogo al recibir un posible enter apretado en el change

                                        //preseleccionar el usuario que había liberado
                                        //deshabilitar el combo (solo puede anular la liberacion el que lo liberó)
                                        $('#mySelect').prop("disabled", true);

                                        if (IdAprobo == "") {
                                            $("#mySelect").val([]);
                                        }
                                        else {
                                            $('#mySelect').val(IdAprobo);
                                        }
                                    })

                                    function anularfirma() {
                                        $.ajax({
                                            type: 'POST',
                                            contentType: 'application/json; charset=utf-8',
                                            url: ROOT + 'Requerimiento/AnularFirmas',
                                            dataType: 'json',
                                            data: JSON.stringify(SerializaForm()),
                                            success: function (result) {
                                                alert("Firmas anuladas");
                                                window.location.replace(window.location.pathname);
                                                //window.location = (ROOT + "Pedido/Edit/" + result.IdPedido);
                                            },
                                            error: function (result) {
                                                alert("No se pudo anular");
                                            }
                                        })
                                    }

                                    $("#Aprobo").change(function (event) {
                                        //            alert("change");
                                        //        event.preventDefault();
                                        //        event.stopPropagation();
                                        aprobar();
                                    });

                                    function aprobar() {
                                        var IdAprobo = $("#Aprobo > option:selected").attr("value");
                                        var Aprobo = $("#Aprobo > option:selected").html();
                                        $("#Aux1").val(IdAprobo);
                                        $("#Aux2").val(Aprobo);
                                        $("#Aux3").val("");
                                        $("#Aux10").val("");

                                        $("#dialog-password").dialog({
                                            buttons: {
                                                'Aceptar': function () {
                                                    //alert('hola');
                                                    //  $(this).dialog('close');
                                                    // http://stackoverflow.com/questions/1031674/how-do-i-write-a-jquery-function-that-accepts-a-callback-as-a-parameter
                                                    validatePwd2(

                                                    function () {
                                                        var combo = $("#Aux0").val();
                                                        var idusuario = $("#Aux1").val();
                                                        var post = $("#Aux10").val();
                                                        $('#' + combo).val(idusuario);
                                                        $("#Aux3").val(idusuario);
                                                    },
                                                     function () {
                                                         alert('Password incorrecta');
                                                         var combo = $("#Aux0").val();
                                                         $('#' + combo).val("");
                                                         $("#Aux3").val("");
                                                     }
                                                    );
                                                },
                                                'Cancelar': function () {
                                                    $(this).dialog('close');
                                                }
                                            },

                                            open: function () {
                                                //alert("hay que volver a llenar el mySelect"); //porque el anular lo rellena con otra lista
                                                // pasar la eleccion del combo DESPUES de que hizo la llamada a CargarEmpleadosParaAprobar, como callback
                                                var callbackfunction = function () {
                                                    var combo = $("#dialog-password").data('Combo')
                                                    var idusuario = $("#Aux1").val();
                                                    var usuario = $("#Aux2").val();
                                                    $("#Aux0").val(combo);
                                                    $("#usuario").val(usuario);
                                                    $('#password').focus();
                                                    if (idusuario == "") {
                                                        $("#mySelect").val([]);
                                                    }
                                                    else {
                                                        $('#mySelect').val(idusuario);
                                                    }
                                                }
                                                CargarEmpleadosParaAprobar(callbackfunction);
                                            },
                                            close: function () {
                                                // si usás una funcion de callback, pasale los parametros. Quiero decir: que el dialog no tenga que saber cómo implementarla!
                                                // http://stackoverflow.com/questions/939032/jquery-pass-more-parameters-into-callback
                                                $('#password').val("");
                                                var combo = $("#Aux0").val();
                                                $('#' + combo).val("");  // acá reseteo el combo que se pasó como parámetro en la llamada   $('#dialog-password').data('Combo', 'Aprobo');
                                                $("#Aux3").val("");
                                            }
                                        });

                                        $('#dialog-password').data('Combo', 'Aprobo');
                                        $('#dialog-password').dialog('open');
                                        $('#mySelect').focus(); // esto es clave, para que no me cierre el cuadro de dialogo al recibir un posible enter apretado en el change
                                    }
                                })
                            </script>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row-fluid">
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <br />
                    <div class="row-fluid">
                        <div id="divGrilla" class="span12 lightblue" style="padding-left: 0px; padding-right: 2px;
                        min-height: 150px">
                            <style>
                                .ui-jqdialog td {
                                    border: 0px !important;
                                }

                                .ui-jqdialog table {
                                    border: 0px !important;
                                }

                                .ui-jqdialog .ui-jqdialog-titlebar {
                                    padding: 0;
                                    position: relative;
                                }
                                .ui-jqdialog-titlebar {
                                    height: 15px;
                                }
                                .ui-jqdialog button {
                                }
                                /* http://stackoverflow.com/questions/14954587/jqgrid-for-twitter-bootstrap
                                    */ input.ui-pg-input {
                                    width: auto;
                                    padding: 0px;
                                    margin: 0px;
                                    line-height: normal;
                                }
                                select.ui-pg-selbox {
                                    width: auto;
                                    padding: 0px;
                                    margin: 0px;
                                    line-height: normal;
                                }
                                .ui-widget select {
                                    margin-bottom: 0px !important; /* para que en la edicion inline de la grilla no me haga mas alto el renglon   */
                                }
                                .ui-widget-content button {
                                    background: rgb(231, 231, 231);
                                    color: black !important;
                                }
                                .ui-jqgrid tr.footrow-ltr {
                                    font-size: 9px;
                                }
                                .AltoRenglones tr.jqgrow td /* .ui-jqgrid tr.jqgrow td */ {
                                    height: 32px;
                                }
                                .ui-jqgrid tr.ui-row-ltr td {
                                    /* lineas de las grillas verticales*/ /*
                                                        border-right-style: none;
                                                        border-left-style: none;
                                                        */
                                }
                                .ui-icon, .ui-widget-content .ui-icon {
                                    /* background-image:
                                    none; */
                                }
                                /* el padding... http://stackoverflow.com/questions/17732147/how-to-add-class-to-a-cell-in-jqgrid*/
                                .ui-jqgrid tr.jqgrow td {
                                    padding-left: 8px;
                                    padding-right: 8px;
                                }
                                .ui-widget-content hr {
                                    border: 0 !important; /* el borde molesto en el form de detalle de la jqgrid antes de los botones de aceptar/cancelar */
                                }
                                .AltoRenglones tr.jqgrow td /* .ui-jqgrid tr.jqgrow td */ {
                                    height: 36px; /* jugar entre .AltoRenglones y el style de font de la grilla */
                                }
                            </style>
                            <table id="Lista" class="scroll separacion AltoRenglones" cellpadding="0" cellspacing="0" >
                            </table>
                            <div id="ListaPager" class="scroll">
                            </div>
                            <div style="margin-top: 4px">
                                @*<input type="button" class="btn btn-small" id="addData" value="+ Agregar" />
                                <input type="button" class="btn btn-small" id="edtData" value="Modificar" />
                                <input type="button" class="btn btn-small" id="delData" value="Borrar" />*@
                                <input type="button" class="btn btn-small pull-right" id="" value="Buscar" onclick="conmutarPanelesDerecho();  pageLayout.hide('south'); pageLayout.hide('north'); RefrescaAnchoGrillaDetalle();" />&nbsp;
                                @*<input type="button" class="btn btn-small  pull-right" id="asignarNecesidad" value="Asignar fecha" />&nbsp;*@
                            </div>
                            @*<input type="button" class="btn btn-small  pull-right" id="duplicar" value="Duplicar" />*@
                        </div>
                        <div id="dialog" title="">
                            Fecha de entrega
                            <input type="text" id="InputFechaEntrega" value="" />
                            <script>
                                $(function () {
                                    $("#dialog").dialog({
                                        autoOpen: false,
                                        modal: true,
                                        buttons: {
                                            "Aceptar": function () {
                                                // $("#nombre").val($("#el_nombre").val);
                                                var f = $("#InputFechaEntrega").val();
                                                var $grid = $("#Lista");
                                                var righe = $grid.jqGrid("getGridParam", "selarrrow");
                                                //                                            selRowIds.each(function (id1, id2) {
                                                //                                                return rows.namedItem(id1).rowIndex - rows.namedItem(id2).rowIndex;
                                                //                                                var data = $(nomeGrigliaFiglia).jqGrid('getRowData', Id);
                                                //                                            })
                                                if ((righe == null) || (righe.length == 0)) {
                                                    return false;
                                                }

                                                for (var i = 0; i < righe.length; i++) {
                                                    var Id = righe[i];
                                                    var rowData = $grid.jqGrid('getRowData', Id);
                                                    rowData.FechaEntrega = f;
                                                    $grid.jqGrid('setRowData', Id, rowData);
                                                }
                                                $(this).dialog("close");
                                            },
                                            "Cerrar": function () {
                                                $(this).dialog("close");
                                            }
                                        }
                                    });

                                    $("#asignarNecesidad").click(function () {
                                        var $grid = $("#Lista");
                                        var righe = $grid.jqGrid("getGridParam", "selarrrow");
                                        if ((righe == null) || (righe.length == 0)) {
                                            righe = $grid.jqGrid('getDataIDs');
                                        }
                                        initDateEdit($("#InputFechaEntrega"));

                                        $("#dialog").dialog("option", "width", 600);
                                        $("#dialog").dialog("option", "height", 300);
                                        $("#dialog").dialog("option", "resizable", false);
                                        $("#dialog").dialog("open");
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <br />
                    <div class="row-fluid" id="Totales">
                        <div class="span6 lightblue">
                            @Html.LabelFor(model => model.Observaciones)
                            @Html.TextAreaFor(model => model.Observaciones, new { @class = "span12", @style = "height: 100px" })
                            @Html.ValidationMessageFor(model => model.Observaciones)
                        </div>
                    </div>
                    <br />
                </div>
                <div id="pie" style="position: absolute; bottom: -26px; background: rgb(236, 236, 236); width: 100%; height: 68px; padding-left: 0; margin-right: 15px;">
                    <hr style="margin: 0; border-top-color: #D8D4D4; border-bottom: 0px solid #ffffff;  " />
                    <div class="row-fluid " style="padding: 11px 0px 0px 0px">
                        <div class="span5 lightblue">
                            @if (Model.Cumplido != "SI" || Model.Aprobo > 0)
                            {
                                <input type="button" id="grabar2" value="Aceptar" class="btn  btn-large btn-primary " usesubmitbehavior="false" />
                            }
                            @if (Model.IdValeSalida > 0 && (Model.Aprobo ?? 0) <= 0)
                            {
                                <input type="button" id="anular" value="Anular" class="btn  btn-large btn-primary" />
                            }
                            @if (Model.IdValeSalida > 0)
                            {
                                <a id="lImprimir" class="btn  btn-large" style="color: Black" href="@Url.Action("Imprimir", new { @id = Model.IdValeSalida })"><i class="icon-print"></i>&nbsp;Imprimir</a>
                            }
                        </div>
                        @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-link  pull-right" })
                    </div>
                </div>
            </div>
        </form>
    </div>

<script type="text/javascript">
    //    function theimage(){
    //     var filename = document.getElementById('file-id').value;
    //     document.getElementById('file-path').value = filename;
    //     var filename1 = $('#file-id').next().val();
    //     alert(filename);
    //    }

    $(window).resize(function () {
        RefrescaAnchoGrillaDetalle();
        $("#conscroll").height($(window).height() - 120);
    });

    function RefrescaAnchoGrillaDetalle() {
        // $("#Lista").setGridWidth($(window).width());
        // la zona de drop se te complica si estas arrastrando un renglon muy largo de una grilla ancha sobre una grilla angosta
        $("#Lista").setGridWidth($("#divGrilla").width());
        //        $("#ListaDrag").setGridWidth(jQuery("#ListaDrag").parent().width());
        //        $("#ListaDrag2").setGridWidth(jQuery("#ListaDrag").parent().width());
    }

    function deshabilitar() {
        // $("*").attr("disabled", "disabled");
        // es esta linea que me pone el footrow border superior negro
        $("#formid *").not("#Lista").not(".ui-jqgrid").not("#lImprimir").not("#anular").not("#AnularFirmas").attr("disabled", "disabled");
        // para que solo bloquee el contenido y me deje scrollear, saqué el 'closest'
        $.blockUI.defaults.css.cursor = 'default';
        $.blockUI.defaults.overlayCSS.cursor = 'default';
        //http://stackoverflow.com/questions/19810312/disabling-entire-jqgrid-jquery-grid-plugin-using-jquery-blockui-plugin
        //                $("#Lista").closest(".ui-jqgrid").block({
        //                    message: "", //"<h1>Being processed...</h1>",
        //                    css: { border: "3px solid #a00" }
        //                });
        $("#Lista").block({ // para que solo bloquee el contenido y me deje scrollear, saqué el 'closest'
            message: "", //"<h1>Being processed...</h1>",
            css: {
                // border: "3px solid #a00"
                'cursor': 'default',
                'background-color': 'rgb(218, 211, 211)',
                'color': '#fff'
            }
            ,
            theme: true,
            themedCSS: {
                width: "35%",
                left: "30%"
                // ,  background-color: 'rgb(218, 211, 211)'
                //  ,  border: "3px solid #a00"
            }

        });

        $("#ListaDrag").block({ // para que solo bloquee el contenido y me deje scrollear, saqué el 'closest'
            message: "", //"<h1>Being processed...</h1>",
            css: {
                // border: "3px solid #a00"
                cursor: 'default'
            },
            theme: true,
            themedCSS: {
                width: "35%",
                left: "30%"
                // ,  background-color: 'rgb(218, 211, 211)'
                //  ,  border: "3px solid #a00"
            }
        });
        $("#ListaDrag2").block({ // para que solo bloquee el contenido y me deje scrollear, saqué el 'closest'
            message: "", //"<h1>Being processed...</h1>",
            css: {
                // border: "3px solid #a00"
                cursor: 'default'
            }
        });
        //panelLayout(""
    }

    $(function () {
        if ($("#Aprobo").val() > 0 || $("#UsuarioAnulacion").val() > 0) {
            //si está aprobada, bloqueo los controles y la grilla
            deshabilitar();
        }
        pageLayout.hide('south');
        //pageLayout.show('south');
    });
</script>
}