@model ProntoMVC.Data.Models.Pedido
@{
    ViewBag.Title = "Subdiario";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formid" }))
{

    @Html.ValidationSummary(true)

    <script src="@Url.Content("~/Scripts/ScriptPedido.js?1519")"  type="text/javascript"></script>       @*aparentemente tengo que llamarla despues de cargar las div*@

 

        
    
    
    <div class="container-fluid">
        <div class="modal" id="loading">
            <img  src="@Url.Content("~/Content/images/fhhrx.gif")"  style="margin-right: 5px;" />
            Cargando...
        </div>
        <style>
            input[readonly]
            {
                background: transparent;
                border: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
            
            .container-fluid
            {
                padding-left: 8px; /*    margin-right: 15px; */
            }
        </style>
        <style>
            /* jqGrid builds some additional divs over the main grid table. The outer div has the class ui-jqgrid. So if you need to remove right and left border existing over the whole grid you can use the following CSS: */
            
            .ui-jqgrid
            {
                border-right-width: 0px;
                border-left-width: 0px;
            }
            /* If you need to remove all grid's borders you can use

.ui-jqgrid { border-width: 0px; }
If you want additionally remove vertical border between the cells in the grid you can use */
            
            .ui-jqgrid tr.ui-row-ltr td
            {
                border-right-color: transparent;
            }
            
            
            .ui-jqgrid tr.footrow-ltr td
            {
                border-right-color: transparent !important;
                border: 0 transparent !important;
            }
            
            /*To remove horizontal border between the rows you can use */
            
            .ui-jqgrid tr.ui-row-ltr td
            {
                border-bottom-color: transparent;
            }
            /*To remove vertical borders between the column headers you can use */
            
            th.ui-th-column
            {
                /*    border-right-color: transparent !important; */
                border-right-color: rgb(234, 234, 234) !important;
            }
            /* or alternatively (without the usage of !important) */
            
            .ui-jqgrid-labels .ui-th-column
            {
                /* border-right-color: transparent;*/
            }
        </style>
        <form class="form-horizontal">
@*        <div>@Html.Hidden("IdPedido", Model.IdPedido)</div>
        <div>@Html.Hidden("IdProveedor", Model.IdProveedor)</div>*@
        <div class="span12">
            <div class="row-fluid" style="margin-bottom: 15px; margin-top: 5px;">
                @* <div class="span5 lightblue" style="font-weight: bold; font-size: 34px; vertical-align: "> *@
                <div class="" style='font-size: 34px; margin-top: 5px; height: 45px; font-weight: 400;
                    text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
                    @*    <div class="span4  ">
                        Pedido
                    </div>*@ @*@Html.Display("Pedido" , new { style = "height: 45px ; font-weight: bold; font-size: 34px; border: 0; padding: 0; background: transparent;", @class = "span6", @readonly = "readonly" })*@
                    @*@Html.TextBox("dummy","Pedido", new { style = "height: 45px ; font-weight: bold; font-size: 34px; border: 0; padding:0 ; background: transparent;", @class = "span4", @readonly = "readonly" })*@
                    <span class="span1" style="padding-top: 15px; width: 140px">Subdiario </span>@*@Html.DisplayFor(model => model.NumeroPedido, new { style = "height: 42px ; font-weight: bold; font-size: 34px; border: 0; padding: ; text-align: right; background: transparent; ", @class = "span4", @readonly = "readonly" })*@
                    @Html.TextBoxFor(model => model.NumeroPedido, new { style = "height: 50px ;  font-weight: 400; text-shadow: 0 1px 0  lightgray; font-size: 34px; border: 0; padding: 0 ; text-align: right; background: transparent;  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Lucida', Tahoma, Arial,'sans-serif';                    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;                   ", @class = "span2", @readonly = "readonly" })
                    
                    
                </div>
                <script>
                    $(function () {

                        function resizeInput() {
                            // $(this).attr('size', $(this).val().length + 2);
                            $(this).css('width', $(this).val().length * 32);
                        }


                        $('#SubNumero').keyup(resizeInput).each(resizeInput);

                        $('#NumeroPedido').css('width', $('#NumeroPedido').val().length * 21);

                    })
                </script>
            </div>
        
         
        </div>
        </form>
    </div>
    <!--/.fluid-container-->
}