@model IEnumerable<ProntoMVC.Data.Models.Pedido>
@{
    ViewBag.Title = "Ordenes de Pago en Caja";
}
<div>
    <input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]>
</div>
<div>
    <input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]>
</div>
<br />
<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span12 lightblue">



@if (ViewBag.BasePronto.Contains("Niro") && 
                    (Roles.IsUserInRole(ViewBag.NombreUsuario, "AdminExterno")
                    || Roles.IsUserInRole(ViewBag.NombreUsuario, "Externo")
                    || Roles.IsUserInRole(ViewBag.NombreUsuario, "ExternoOrdenesPagoListas")
                    || Roles.IsUserInRole(ViewBag.NombreUsuario, "ExternoCuentaCorrienteProveedor")
                    || Roles.IsUserInRole(ViewBag.NombreUsuario, "ExternoCuentaCorrienteCliente")
                    || Roles.IsUserInRole(ViewBag.NombreUsuario, "ExternoCotizaciones")
                    ))
        {
    <div class="alert alert-error fade in span12 " id="asdasd" style="">
		Recuerde que los días para retirar pagos son únicamente los viernes de 14:30 a 17:00 hs (sin excepción).
        <br />
        Ante cualquier inquietud deberá enviarnos un email con su consulta a: pagoproveedores@niroconstrucciones.com.ar
    </div>
}
            @*<button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary span2">
                    Nueva Orden de Pago
                </button>*@
            <div class="span10">
                @* <div class="input-prepend ">
                        <div class="btn-group ">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                En todo <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                Requerimientos
                            </div>
                            <ul class="dropdown-menu">
                            Número
                            </ul>
                        </div>
                        <input id="BuscadorListado" type="text" class="" placeholder="Filtrar" style="
                          ; background: ;" />
                    </div>*@
            </div>
            <script>

                                      $("#BuscadorListado").change(function () {



                                          var grid = jQuery("#Lista");
                                          var postdata = grid.jqGrid('getGridParam', 'postData');
                                          jQuery.extend(postdata,
                                     {
                                         filters: '',
                                         searchField: 'NumeroOrdenPago',
                                         searchOper: 'eq',
                                         searchString: parseInt($("#BuscadorListado").val(), 10) || 0
                                     });
                                          grid.jqGrid('setGridParam', { search: true, postData: postdata });
                                          grid.trigger("reloadGrid", [{ page: 1 }]);


                                          //<select><option value="NumeroRequerimiento" selected="selected">N°</option><option value="Detalle">Detalle</option><option value="NumeroObra">Obra</option><option value="Sector">Sector</option><option value="Observaciones">Observaciones</option><option value="LugarEntrega">Lugar de necesidad</option></select>
                                      });
            </script>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px;
        "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px">
    </div>
</div>
@*<p>@Html.ActionLink("Nuevo Presupuesto", "Edit", new { id = -1 }, null)</p> *@
<script type="text/javascript">
        $(document).ready(function () {
            var lastSelectedId;
            var inEdit;
            grid = $("#Lista");
            $("#btnConmutarPanelDerecho").hide();

            //Para que haga wrap en las celdas
            $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

            $('#Lista').jqGrid({
                //url: '@Url.Action("OrdenesPagoEnCaja", "OrdenPago")',
                url: '@Url.Action("OrdenesPagoEnCajaUsandoDataset", "OrdenPago")',
                postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); } },
                datatype: 'json',
                mtype: 'POST',
                colNames: ['ver', 'Emitir cert.', 'IdOPComplementariaFF', 'Orden en caja', 'IdOP', 'Fecha Pago', 'Tipo', 'Estado', 'Proveedor', 
                           'Mon.', 'Valores', 'Acreedores', 'Ret.IVA', 'Ret.gan', 'Ret.IIBB', 'Ret.SUSS', 'Cot.U$S', 'Observaciones'],
                colModel: [
                            { name: 'ver', index: 'ver', hidden: false, width: 50 },
                            { name: 'Emitir', index: '', hidden: true, width: 50 },
                            { name: 'IdOPComplementariaFF', index: '', align: 'center', width: 80, sortable: false, editable: false, search: false, hidden: true }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                            { name: 'Orden en caja', index: '', align: 'left', width: 80, editable: false, hidden: false },
                            { name: 'IdOP', index: 'IdOP', align: 'right', width: 80, editable: false, hidden: true, search: true, searchoptions: { sopt: ['eq'] } },
                            { name: 'Fecha', index: 'Fecha', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                            { name: 'Tipo', index: 'Tipo', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                            { name: 'Estado', index: 'Estado', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                            { name: 'Proveedor', index: 'Proveedor', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['eq'] } },
                            { name: 'Mon', index: 'Moneda', align: 'center', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                            { name: 'Valores', index: 'Valores', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                            { name: 'Acreedores', index: 'Acreedores', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                            { name: 'RetencionIVA', index: 'RetencionIVA', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                            { name: 'RetencionGanancias', index: 'RetencionGanancias', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                            { name: 'RetencionIBrutos', index: 'RetencionIBrutos', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                            { name: 'RetencionSUSS', index: 'RetencionSUSS', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                            { name: 'CotizacionDolar', index: 'CotizacionDolar', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['eq'] } },
                            { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['eq'] } }
                ],
                onSelectRow: function (id) {
                    if (id && id !== lastSelectedId) {
                        if (typeof lastSelectedId !== "undefined") {
                            grid.jqGrid('restoreRow', lastSelectedId);
                        }
                        lastSelectedId = id;
                    }
                },
                pager: $('#ListaPager'),
                rowNum: 15,
                rowList: [10, 20, 50, 20000],
                sortname: 'Numero',
                sortorder: 'asc',
                viewrecords: true,


                ///////////////////////////////
                width: 'auto', // 'auto',
                autowidth: true,
                shrinkToFit: false,
                //////////////////////////////
                height: '100%',
                altRows: false,
                footerrow: false,
                userDataOnFooter: true,
                caption: '<b>Ordenes de Pago en Caja</b>'
            });
            jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
            jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
        });

    pageLayout.hide('east');
</script>
